In [1]:
import json
import pandas as pd
import requests
import sqlite3 as db
from sqlite3 import Error

%run C:\Users\Joshua\Jupyter_Notebook_Folders\APIkeys.py

### List of Bureau of Labor Statistics Surveys

In [2]:
surveys_url = "https://api.bls.gov/publicAPI/v2/surveys"
s = requests.get(surveys_url)
s_json = s.json()                          # Turn request into JSON 
surveys = s_json["Results"]["survey"]      # Get list of surveys from the JSON
surveys

[{'survey_abbreviation': 'AP',
  'survey_name': 'Consumer Price Index - Average Price Data'},
 {'survey_abbreviation': 'BD', 'survey_name': 'Business Employment Dynamics'},
 {'survey_abbreviation': 'BG',
  'survey_name': 'Collective Bargaining Agreements-State and Local Government'},
 {'survey_abbreviation': 'BP',
  'survey_name': 'Collective Bargaining Agreements-Private Sector'},
 {'survey_abbreviation': 'CC',
  'survey_name': 'Employer Costs for Employee Compensation'},
 {'survey_abbreviation': 'CD',
  'survey_name': 'Nonfatal cases involving days away from work: selected characteristics'},
 {'survey_abbreviation': 'CE',
  'survey_name': 'Employment, Hours, and Earnings from the Current Employment Statistics survey (National)'},
 {'survey_abbreviation': 'CF',
  'survey_name': 'Census of Fatal Occupational Injuries'},
 {'survey_abbreviation': 'CH',
  'survey_name': 'Nonfatal cases involving days away from work: selected characteristics (2003 - 2010)'},
 {'survey_abbreviation': 'CI', 'survey_name': 'Employment Cost Index'},
 {'survey_abbreviation': 'CM',
  'survey_name': 'Employer Costs for Employee Compensation'},
 {'survey_abbreviation': 'CS',
  'survey_name': 'Nonfatal cases involving days away from work: selected characteristics (2011 forward)'},
 {'survey_abbreviation': 'CU',
  'survey_name': 'Consumer Price Index - All Urban Consumers'},
 {'survey_abbreviation': 'CW',
  'survey_name': 'Consumer Price Index - Urban Wage Earners and Clerical Workers'},
 {'survey_abbreviation': 'CX', 'survey_name': 'Consumer Expenditure Survey'},
 {'survey_abbreviation': 'EB', 'survey_name': 'Employee Benefits Survey'},
 {'survey_abbreviation': 'EC', 'survey_name': 'Employment Cost Index'},
 {'survey_abbreviation': 'EE',
  'survey_name': 'National Employment, Hours, and Earnings'},
 {'survey_abbreviation': 'EI', 'survey_name': 'Import/Export Price Indexes'},
 {'survey_abbreviation': 'EN',
  'survey_name': 'Quarterly Census of Employment and Wages'},
 {'survey_abbreviation': 'EP',
  'survey_name': 'Employment Projections by Industry'},
 {'survey_abbreviation': 'EW',
  'survey_name': 'Quarterly Census of Employment and Wages (SIC)'},
 {'survey_abbreviation': 'FI',
  'survey_name': 'Census of Fatal Occupational Injuries (2003 - 2010)'},
 {'survey_abbreviation': 'FM',
  'survey_name': 'Marital and family labor force statistics from the Current Population Survey'},
 {'survey_abbreviation': 'FW',
  'survey_name': 'Census of Fatal Occupational Injuries (2011 forward)'},
 {'survey_abbreviation': 'GG', 'survey_name': 'Green Goods and Services'},
 {'survey_abbreviation': 'GP', 'survey_name': 'Geographic Profile'},
 {'survey_abbreviation': 'HC',
  'survey_name': 'Nonfatal cases involving days away from work: Selected Characteristics (2002)'},
 {'survey_abbreviation': 'HS',
  'survey_name': 'Occupational injuries and illnesses: industry data (pre-1989)'},
 {'survey_abbreviation': 'II',
  'survey_name': 'Occupational injuries and illnesses: industry data'},
 {'survey_abbreviation': 'IN',
  'survey_name': 'International Labor Comparison'},
 {'survey_abbreviation': 'IP', 'survey_name': 'Industry Productivity'},
 {'survey_abbreviation': 'IS',
  'survey_name': 'Occupational injuries and illnesses industry data'},
 {'survey_abbreviation': 'JL',
  'survey_name': 'Job Openings and Labor Turnover Survey'},
 {'survey_abbreviation': 'JT',
  'survey_name': 'Job Openings and Labor Turnover Survey'},
 {'survey_abbreviation': 'LA',
  'survey_name': 'Local Area Unemployment Statistics'},
 {'survey_abbreviation': 'LE',
  'survey_name': 'Weekly and hourly earnings data from the Current Population Survey'},
 {'survey_abbreviation': 'LF',
  'survey_name': 'Labor Force Statistics from the Current Population Survey (SIC)'},
 {'survey_abbreviation': 'LI',
  'survey_name': 'Consumer Price Index - Department Store Inventory Price Index'},
 {'survey_abbreviation': 'LN',
  'survey_name': 'Labor Force Statistics from the Current Population Survey'},
 {'survey_abbreviation': 'LU',
  'survey_name': 'Union affiliation data from the Current Population Survey'},
 {'survey_abbreviation': 'ML', 'survey_name': 'Mass Layoff Statistics'},
 {'survey_abbreviation': 'MP',
  'survey_name': 'Major Sector Multifactor Productivity'},
 {'survey_abbreviation': 'MU',
  'survey_name': 'Consumer Price Index - All Urban Consumers (Old Series)'},
 {'survey_abbreviation': 'MW',
  'survey_name': 'Consumer Price Index - Urban Wage Earners and Clerical Workers (Old Series)'},
 {'survey_abbreviation': 'NB',
  'survey_name': 'National Compensation Survey-Benefits'},
 {'survey_abbreviation': 'NC', 'survey_name': 'National Compensation Survey'},
 {'survey_abbreviation': 'ND',
  'survey_name': 'Producer Price Index Industry Data'},
 {'survey_abbreviation': 'NW', 'survey_name': 'National Compensation Survey'},
 {'survey_abbreviation': 'OE',
  'survey_name': 'Occupational Employment Statistics'},
 {'survey_abbreviation': 'OR', 'survey_name': 'Occupational Requirements'},
 {'survey_abbreviation': 'PC',
  'survey_name': 'Producer Price Index Industry Data'},
 {'survey_abbreviation': 'PD',
  'survey_name': 'Producer Price Index - Discontinued (SIC)'},
 {'survey_abbreviation': 'PF',
  'survey_name': 'Federal Government Productivity Index'},
 {'survey_abbreviation': 'PI', 'survey_name': 'Industry Productivity Index'},
 {'survey_abbreviation': 'PR',
  'survey_name': 'Major Sector Productivity and Costs'},
 {'survey_abbreviation': 'SA',
  'survey_name': 'State and Area Employment, Hours, and Earnings (SIC)'},
 {'survey_abbreviation': 'SH',
  'survey_name': 'Occupational injuries and illnesses: industry data (1989-2001)'},
 {'survey_abbreviation': 'SI',
  'survey_name': 'Occupational injuries and illnesses: industry data (2002)'},
 {'survey_abbreviation': 'SM',
  'survey_name': 'State and Area Employment, Hours, and Earnings'},
 {'survey_abbreviation': 'SU',
  'survey_name': 'Consumer Price Index - Chained Consumer Price Index'},
 {'survey_abbreviation': 'TU', 'survey_name': 'American Time Use'},
 {'survey_abbreviation': 'WD',
  'survey_name': 'Producer Price Index Commodity-Discontinued Series'},
 {'survey_abbreviation': 'WM', 'survey_name': 'Wage Modeling'},
 {'survey_abbreviation': 'WP',
  'survey_name': 'Producer Price Index-Commodities'},
 {'survey_abbreviation': 'WS', 'survey_name': 'Work Stoppage Data'}]

### Functions for working with SQLite

In [2]:
def create_database(db_name):
    """ 
    create an SQLite database
    """
    conn = None
    try:
        conn = db.connect(db_name)
        print(db.version)
    except Error as e:
        print(e)
    finally:
        conn.close()
            
def create_connection(db_name):
    """ 
    create a database connection to the SQLite database
        specified by db_name
    return: Connection object or None
    """
    conn = None
    try:
        conn = db.connect(db_name)
        return conn
    except Error as e:
        print(e)

    return conn


def check_table_exists(tbl_name, db_name): 
    """
    Check if table exists
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    exists = 0
    c.execute("SELECT count(name) FROM sqlite_master WHERE type='table'")
    if c.fetchone()[0] == 0:
        print("No tables in DB.")
    else:
        try:
            c.execute("SELECT COUNT(name) FROM sqlite_master WHERE type = 'table' AND name='" + seriesID+"';")
        except Error as e:
            print(e)
        if c.fetchone()[0] == 1:
            exists = 1
            
        else:
            print("Table does not exist")        
    conn.close()
    
    return exists 
    
    
def create_table(input_df, tbl_name, db_name):
    """
    create table
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    tbl_exists = check_table_exists(tbl_name ,db_name)
    if tbl_exists:
        print("Table ", tbl_name, " already exists")
    else:
        try: 
            input_df.to_sql(tbl_name, conn)
            print("Created ", tbl_name, " table.")
        except ValueError as e:
            print(e)
            print("Table was not added to the DB")       
    conn.close()
    
    
def check_duplicate_data(df, tbl_name, db_name):
    """
    check if the data to be entered already exists in the table
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    
    df_not_dup_data = pd.DataFrame(columns = list(df.columns))
    df_dup_data = pd.DataFrame(columns = list(df.columns))
    df_inconsistent_data = pd.DataFrame(columns = list(df.columns))
    
    # Check if data already exists in DB
    for i, row in df.iterrows():
        c.execute("SELECT date, value FROM " + tbl_name + " WHERE date = ?;", (df.loc[i]["date"],))
        queryOut = c.fetchall()
        if len(queryOut) == 0:
            df_not_dup_data = pd.concat([df_not_dup_data, df.loc[[i]]])
        elif queryOut[0][1] == df.loc[i]["value"]:
            df_dup_data = pd.concat([df_dup_data, df.loc[[i]]])
            #print(seriesID, " data for ", df.iloc[i]["date"], " already exists with same value as API:", queryOut[0][1])
        elif queryOut[0][1] != df.loc[i]["value"]:
            df_inconsistent_data = pd.concat([df_inconsistent_data, df.loc[[i]]])
            #print(seriesID, " ", df.ioc[i]["date"], "DB DATA: ", queryOut[0][1], " DOES NOT MATCH INPUT DATA: ", )
    conn.close()
    
    df_not_dup_data = df_not_dup_data.sort_values(by=['date'])
    
    return df_not_dup_data, df_dup_data, df_inconsistent_data


def add_to_database(df_EntryData, tbl_name, db_name):  
    """
    Add dataframe to 
    database: db_name 
    table: tbl_name
    """
    conn = create_connection(db_name)    
    try:
        df_EntryData.to_sql(seriesID, con=conn, if_exists='append')
        print("Data added to DB: \n", df_EntryData)
    except ValueError as e:
        print(e)
        print("Data was not added to the DB")
    conn.close()
    
    
def get_max_index(tbl_name, db_name):
    '''
    Get the maximum index value of the specified tbl_name
    '''
    conn = create_connection(db_name)
    c = conn.cursor()
    try:
        c.execute("SELECT MAX([index]) FROM " + seriesID)
        max_index = c.fetchone()[0]
        return max_index
    except Error as e:
        print(e)
    finally:
        conn.close()
    

def table_to_df(tbl_name, db_name):
    conn = db.connect(db_name)
    try:
        df_fromDB = pd.read_sql_query("SELECT * FROM " + tbl_name + ";", conn)
    except Error as e:
        print(e)
    conn.close()
    
    return df_fromDB

### Get data from BLS

In [3]:
def get_BLS_data(seriesID, startyear, endyear):
    base_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'  #this will not change
    headers = {'Content-type': 'application/json'}  #This will not changed !

    # For the key seriesid enter a list of series names you wish to download
    # For the key startyear enter the start year inside ""
    # For the key endyear enter the end year inside ""

    seriesID = "CUUR0000SA0"
    parameters = {
        "seriesid":[seriesID], 
        "startyear":str(startyear), 
        "endyear":str(endyear),
        "catalog":True, 
        "calculations":False, 
        "annualaverage":False,
        "aspects":False,
        "registrationkey":os.environ['BLS_API_key'] 
     }

    data = json.dumps(parameters) # Converts the Python dictionary to JSON

    p = requests.post(base_url, data=data, headers=headers)
    json_data = json.loads(p.text)
    
    return json_data

In [6]:
seriesID = "CUUR0000SA0"

In [4]:
json_data = get_BLS_data(seriesID, 1959, 1978)
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 280,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'catalog': {'series_title': 'All items in U.S. city average, all urban consumers, not seasonally adjusted',
     'series_id': 'CUUR0000SA0',
     'seasonality': 'Not Seasonally Adjusted',
     'survey_name': 'CPI for All Urban Consumers (CPI-U)',
     'survey_abbreviation': 'CU',
     'measure_data_type': 'All items',
     'area': 'U.S. city average',
     'item': 'All items'},
    'data': [{'year': '1978',
      'period': 'M12',
      'periodName': 'December',
      'value': '67.7',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M11',
      'periodName': 'November',
      'value': '67.4',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M10',
      'periodName': 'October',
      'value': '67.1',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M09',
      'periodName': 'September',
      'value': '66.5',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M08',
      'periodName': 'August',
      'value': '66.0',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M07',
      'periodName': 'July',
      'value': '65.7',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M06',
      'periodName': 'June',
      'value': '65.2',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M05',
      'periodName': 'May',
      'value': '64.5',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M04',
      'periodName': 'April',
      'value': '63.9',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M03',
      'periodName': 'March',
      'value': '63.4',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M02',
      'periodName': 'February',
      'value': '62.9',
      'footnotes': [{}]},
     {'year': '1978',
      'period': 'M01',
      'periodName': 'January',
      'value': '62.5',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M12',
      'periodName': 'December',
      'value': '62.1',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M11',
      'periodName': 'November',
      'value': '61.9',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M10',
      'periodName': 'October',
      'value': '61.6',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M09',
      'periodName': 'September',
      'value': '61.4',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M08',
      'periodName': 'August',
      'value': '61.2',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M07',
      'periodName': 'July',
      'value': '61.0',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M06',
      'periodName': 'June',
      'value': '60.7',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M05',
      'periodName': 'May',
      'value': '60.3',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M04',
      'periodName': 'April',
      'value': '60.0',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M03',
      'periodName': 'March',
      'value': '59.5',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M02',
      'periodName': 'February',
      'value': '59.1',
      'footnotes': [{}]},
     {'year': '1977',
      'period': 'M01',
      'periodName': 'January',
      'value': '58.5',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M12',
      'periodName': 'December',
      'value': '58.2',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M11',
      'periodName': 'November',
      'value': '58.0',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M10',
      'periodName': 'October',
      'value': '57.9',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M09',
      'periodName': 'September',
      'value': '57.6',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M08',
      'periodName': 'August',
      'value': '57.4',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M07',
      'periodName': 'July',
      'value': '57.1',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M06',
      'periodName': 'June',
      'value': '56.8',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M05',
      'periodName': 'May',
      'value': '56.5',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M04',
      'periodName': 'April',
      'value': '56.1',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M03',
      'periodName': 'March',
      'value': '55.9',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M02',
      'periodName': 'February',
      'value': '55.8',
      'footnotes': [{}]},
     {'year': '1976',
      'period': 'M01',
      'periodName': 'January',
      'value': '55.6',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M12',
      'periodName': 'December',
      'value': '55.5',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M11',
      'periodName': 'November',
      'value': '55.3',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M10',
      'periodName': 'October',
      'value': '54.9',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M09',
      'periodName': 'September',
      'value': '54.6',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M08',
      'periodName': 'August',
      'value': '54.3',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M07',
      'periodName': 'July',
      'value': '54.2',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M06',
      'periodName': 'June',
      'value': '53.6',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M05',
      'periodName': 'May',
      'value': '53.2',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M04',
      'periodName': 'April',
      'value': '52.9',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M03',
      'periodName': 'March',
      'value': '52.7',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M02',
      'periodName': 'February',
      'value': '52.5',
      'footnotes': [{}]},
     {'year': '1975',
      'period': 'M01',
      'periodName': 'January',
      'value': '52.1',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M12',
      'periodName': 'December',
      'value': '51.9',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M11',
      'periodName': 'November',
      'value': '51.5',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M10',
      'periodName': 'October',
      'value': '51.1',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M09',
      'periodName': 'September',
      'value': '50.6',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M08',
      'periodName': 'August',
      'value': '50.0',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M07',
      'periodName': 'July',
      'value': '49.4',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M06',
      'periodName': 'June',
      'value': '49.0',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M05',
      'periodName': 'May',
      'value': '48.6',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M04',
      'periodName': 'April',
      'value': '48.0',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M03',
      'periodName': 'March',
      'value': '47.8',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M02',
      'periodName': 'February',
      'value': '47.2',
      'footnotes': [{}]},
     {'year': '1974',
      'period': 'M01',
      'periodName': 'January',
      'value': '46.6',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M12',
      'periodName': 'December',
      'value': '46.2',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M11',
      'periodName': 'November',
      'value': '45.9',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M10',
      'periodName': 'October',
      'value': '45.6',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M09',
      'periodName': 'September',
      'value': '45.2',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M08',
      'periodName': 'August',
      'value': '45.1',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M07',
      'periodName': 'July',
      'value': '44.3',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M06',
      'periodName': 'June',
      'value': '44.2',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M05',
      'periodName': 'May',
      'value': '43.9',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M04',
      'periodName': 'April',
      'value': '43.6',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M03',
      'periodName': 'March',
      'value': '43.3',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M02',
      'periodName': 'February',
      'value': '42.9',
      'footnotes': [{}]},
     {'year': '1973',
      'period': 'M01',
      'periodName': 'January',
      'value': '42.6',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M12',
      'periodName': 'December',
      'value': '42.5',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M11',
      'periodName': 'November',
      'value': '42.4',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M10',
      'periodName': 'October',
      'value': '42.3',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M09',
      'periodName': 'September',
      'value': '42.1',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M08',
      'periodName': 'August',
      'value': '42.0',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M07',
      'periodName': 'July',
      'value': '41.9',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M06',
      'periodName': 'June',
      'value': '41.7',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M05',
      'periodName': 'May',
      'value': '41.6',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M04',
      'periodName': 'April',
      'value': '41.5',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M03',
      'periodName': 'March',
      'value': '41.4',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M02',
      'periodName': 'February',
      'value': '41.3',
      'footnotes': [{}]},
     {'year': '1972',
      'period': 'M01',
      'periodName': 'January',
      'value': '41.1',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M12',
      'periodName': 'December',
      'value': '41.1',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M11',
      'periodName': 'November',
      'value': '40.9',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M10',
      'periodName': 'October',
      'value': '40.9',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M09',
      'periodName': 'September',
      'value': '40.8',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M08',
      'periodName': 'August',
      'value': '40.8',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M07',
      'periodName': 'July',
      'value': '40.7',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M06',
      'periodName': 'June',
      'value': '40.6',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M05',
      'periodName': 'May',
      'value': '40.3',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M04',
      'periodName': 'April',
      'value': '40.1',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M03',
      'periodName': 'March',
      'value': '40.0',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M02',
      'periodName': 'February',
      'value': '39.9',
      'footnotes': [{}]},
     {'year': '1971',
      'period': 'M01',
      'periodName': 'January',
      'value': '39.8',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M12',
      'periodName': 'December',
      'value': '39.8',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M11',
      'periodName': 'November',
      'value': '39.6',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M10',
      'periodName': 'October',
      'value': '39.4',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M09',
      'periodName': 'September',
      'value': '39.2',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M08',
      'periodName': 'August',
      'value': '39.0',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M07',
      'periodName': 'July',
      'value': '39.0',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M06',
      'periodName': 'June',
      'value': '38.8',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M05',
      'periodName': 'May',
      'value': '38.6',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M04',
      'periodName': 'April',
      'value': '38.5',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M03',
      'periodName': 'March',
      'value': '38.2',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M02',
      'periodName': 'February',
      'value': '38.0',
      'footnotes': [{}]},
     {'year': '1970',
      'period': 'M01',
      'periodName': 'January',
      'value': '37.8',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M12',
      'periodName': 'December',
      'value': '37.7',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M11',
      'periodName': 'November',
      'value': '37.5',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M10',
      'periodName': 'October',
      'value': '37.3',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M09',
      'periodName': 'September',
      'value': '37.1',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M08',
      'periodName': 'August',
      'value': '37.0',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M07',
      'periodName': 'July',
      'value': '36.8',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M06',
      'periodName': 'June',
      'value': '36.6',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M05',
      'periodName': 'May',
      'value': '36.4',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M04',
      'periodName': 'April',
      'value': '36.3',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M03',
      'periodName': 'March',
      'value': '36.1',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M02',
      'periodName': 'February',
      'value': '35.8',
      'footnotes': [{}]},
     {'year': '1969',
      'period': 'M01',
      'periodName': 'January',
      'value': '35.6',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M12',
      'periodName': 'December',
      'value': '35.5',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M11',
      'periodName': 'November',
      'value': '35.4',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M10',
      'periodName': 'October',
      'value': '35.3',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M09',
      'periodName': 'September',
      'value': '35.1',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M08',
      'periodName': 'August',
      'value': '35.0',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M07',
      'periodName': 'July',
      'value': '34.9',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M06',
      'periodName': 'June',
      'value': '34.7',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M05',
      'periodName': 'May',
      'value': '34.5',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M04',
      'periodName': 'April',
      'value': '34.4',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M03',
      'periodName': 'March',
      'value': '34.3',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M02',
      'periodName': 'February',
      'value': '34.2',
      'footnotes': [{}]},
     {'year': '1968',
      'period': 'M01',
      'periodName': 'January',
      'value': '34.1',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M12',
      'periodName': 'December',
      'value': '33.9',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M11',
      'periodName': 'November',
      'value': '33.8',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M10',
      'periodName': 'October',
      'value': '33.7',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M09',
      'periodName': 'September',
      'value': '33.6',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M08',
      'periodName': 'August',
      'value': '33.5',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M07',
      'periodName': 'July',
      'value': '33.4',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M06',
      'periodName': 'June',
      'value': '33.3',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M05',
      'periodName': 'May',
      'value': '33.2',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M04',
      'periodName': 'April',
      'value': '33.1',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M03',
      'periodName': 'March',
      'value': '33.0',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M02',
      'periodName': 'February',
      'value': '32.9',
      'footnotes': [{}]},
     {'year': '1967',
      'period': 'M01',
      'periodName': 'January',
      'value': '32.9',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M12',
      'periodName': 'December',
      'value': '32.9',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M11',
      'periodName': 'November',
      'value': '32.9',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M10',
      'periodName': 'October',
      'value': '32.9',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M09',
      'periodName': 'September',
      'value': '32.7',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M08',
      'periodName': 'August',
      'value': '32.7',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M07',
      'periodName': 'July',
      'value': '32.5',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M06',
      'periodName': 'June',
      'value': '32.4',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M05',
      'periodName': 'May',
      'value': '32.3',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M04',
      'periodName': 'April',
      'value': '32.3',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M03',
      'periodName': 'March',
      'value': '32.1',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M02',
      'periodName': 'February',
      'value': '32.0',
      'footnotes': [{}]},
     {'year': '1966',
      'period': 'M01',
      'periodName': 'January',
      'value': '31.8',
      'footnotes': [{}]},
     {'year': '1965',
      'period': 'M12',
      'periodName': 'December',
      'value': '31.8',

### Create and Format Dataframe

In [7]:
# If table exists get the max 
index_start = 0
if check_table_exists(seriesID, "MacroData.sqlite3") != 0:
    index_start = get_max_index(seriesID, "MacroData.sqlite3") + 1
    
# Create dataframe from JSON
df = pd.DataFrame(json_data['Results']['series'][0]['data'])

# Format date column and sort by date
df['date'] = df['year'] + df['period']
df['date'] = df['date'].str.replace('M', '-')
df['date'] = df['date'].astype('string')
df = df.sort_values(by=['date'], ignore_index=True)

# Set the index using the value from the max index in the db table
df["index"] = range(index_start, index_start + len(df.index))
df = df.set_index(df["index"])

df = df.drop(columns=['footnotes', 'index'])
df['value'] = df['value'].astype(float)
df['description'] = json_data['Results']['series'][0]['catalog']['survey_name'] + ', ' + json_data['Results']['series'][0]['catalog']['series_title']
df

,year,period,periodName,value,date,description
index,,,,,,
480,1959,M01,January,29.0,1959-01,"CPI for All Urban Consumers (CPI-U), All items..."
481,1959,M02,February,28.9,1959-02,"CPI for All Urban Consumers (CPI-U), All items..."
482,1959,M03,March,28.9,1959-03,"CPI for All Urban Consumers (CPI-U), All items..."
483,1959,M04,April,29.0,1959-04,"CPI for All Urban Consumers (CPI-U), All items..."
484,1959,M05,May,29.0,1959-05,"CPI for All Urban Consumers (CPI-U), All items..."
...,...,...,...,...,...,...
715,1978,M08,August,66.0,1978-08,"CPI for All Urban Consumers (CPI-U), All items..."
716,1978,M09,September,66.5,1978-09,"CPI for All Urban Consumers (CPI-U), All items..."
717,1978,M10,October,67.1,1978-10,"CPI for All Urban Consumers (CPI-U), All items..."
718,1978,M11,November,67.4,1978-11,"CPI for All Urban Consumers (CPI-U), All items..."
719,1978,M12,December,67.7,1978-12,"CPI for All Urban Consumers (CPI-U), All items..."

### Create MacroData DB if it does not exist

In [4]:
create_database(r"MacroData.sqlite3")

2.6.0

### Create table if it does not already exist

In [8]:
# If the table does not already exist it will be created and with the columns and values in df
create_table(df, seriesID, 'MacroData.sqlite3')

Table  CUUR0000SA0  already exists

### Check if data already exists in Database

In [9]:
df_AddDB, df_dup_data, df_inconsistent_data = check_duplicate_data(df, seriesID, 'MacroData.sqlite3')

# Deal with duplicate data
if not df_dup_data.empty:
    print("Duplicate Data: \n", df_dup_data)
else:
    del df_dup_data
    
# Deal with inconsistent data
if not df_inconsistent_data.empty:
    print("DATA FROM DATAFRAME DOES INCONSISTENT WITH DATA IN DATABASE: \n", df_inconsistent_data)
else:
    del df_inconsistent_data

df_AddDB

,year,period,periodName,value,date,description
480,1959,M01,January,29.0,1959-01,"CPI for All Urban Consumers (CPI-U), All items..."
481,1959,M02,February,28.9,1959-02,"CPI for All Urban Consumers (CPI-U), All items..."
482,1959,M03,March,28.9,1959-03,"CPI for All Urban Consumers (CPI-U), All items..."
483,1959,M04,April,29.0,1959-04,"CPI for All Urban Consumers (CPI-U), All items..."
484,1959,M05,May,29.0,1959-05,"CPI for All Urban Consumers (CPI-U), All items..."
...,...,...,...,...,...,...
715,1978,M08,August,66.0,1978-08,"CPI for All Urban Consumers (CPI-U), All items..."
716,1978,M09,September,66.5,1978-09,"CPI for All Urban Consumers (CPI-U), All items..."
717,1978,M10,October,67.1,1978-10,"CPI for All Urban Consumers (CPI-U), All items..."
718,1978,M11,November,67.4,1978-11,"CPI for All Urban Consumers (CPI-U), All items..."
719,1978,M12,December,67.7,1978-12,"CPI for All Urban Consumers (CPI-U), All items..."

### Add data to Database if it does not already exist

In [10]:
add_to_database(df_AddDB, seriesID, 'MacroData.sqlite3')

Data added to DB:
      year period periodName value     date  \
480  1959    M01    January  29.0  1959-01
481  1959    M02   February  28.9  1959-02
482  1959    M03      March  28.9  1959-03
483  1959    M04      April  29.0  1959-04
484  1959    M05        May  29.0  1959-05
..    ...    ...        ...   ...      ...
715  1978    M08     August  66.0  1978-08
716  1978    M09  September  66.5  1978-09
717  1978    M10    October  67.1  1978-10
718  1978    M11   November  67.4  1978-11
719  1978    M12   December  67.7  1978-12

                                           description
480  CPI for All Urban Consumers (CPI-U), All items...
481  CPI for All Urban Consumers (CPI-U), All items...
482  CPI for All Urban Consumers (CPI-U), All items...
483  CPI for All Urban Consumers (CPI-U), All items...
484  CPI for All Urban Consumers (CPI-U), All items...
..                                                 ...
715  CPI for All Urban Consumers (CPI-U), All items...
716  CPI for All Urban Consumers (CPI-U), All items...
717  CPI for All Urban Consumers (CPI-U), All items...
718  CPI for All Urban Consumers (CPI-U), All items...
719  CPI for All Urban Consumers (CPI-U), All items...

[240 rows x 6 columns]

In [11]:
df_cpi_not_seasonal = table_to_df(seriesID, 'MacroData.sqlite3')
df_cpi_not_seasonal

,index,year,period,periodName,value,date,description
0,0,1919,M01,January,16.5,1919-01,"CPI for All Urban Consumers (CPI-U), All items..."
1,1,1919,M02,February,16.2,1919-02,"CPI for All Urban Consumers (CPI-U), All items..."
2,2,1919,M03,March,16.4,1919-03,"CPI for All Urban Consumers (CPI-U), All items..."
3,3,1919,M04,April,16.7,1919-04,"CPI for All Urban Consumers (CPI-U), All items..."
4,4,1919,M05,May,16.9,1919-05,"CPI for All Urban Consumers (CPI-U), All items..."
...,...,...,...,...,...,...,...
715,715,1978,M08,August,66.0,1978-08,"CPI for All Urban Consumers (CPI-U), All items..."
716,716,1978,M09,September,66.5,1978-09,"CPI for All Urban Consumers (CPI-U), All items..."
717,717,1978,M10,October,67.1,1978-10,"CPI for All Urban Consumers (CPI-U), All items..."
718,718,1978,M11,November,67.4,1978-11,"CPI for All Urban Consumers (CPI-U), All items..."
719,719,1978,M12,December,67.7,1978-12,"CPI for All Urban Consumers (CPI-U), All items..."

In [33]:
#con = db.connect('MacroData.sqlite3')
#c = con.cursor()
#c.execute("DROP TABLE " + seriesID)
#con.commit()
#con.close()