In [17]:
import json
import pandas as pd
import requests
import sqlite3 as db
from sqlite3 import Error

%run C:\Users\Joshua\Jupyter_Notebook_Folders\APIkeys.py

### List of Bureau of Labor Statistics Surveys

In [3]:
surveys_url = "https://api.bls.gov/publicAPI/v2/surveys"
s = requests.get(surveys_url)
s_json = s.json()                          # Turn request into JSON 
surveys = s_json["Results"]["survey"]      # Get list of surveys from the JSON
surveys

[{'survey_abbreviation': 'AP',
  'survey_name': 'Consumer Price Index - Average Price Data'},
 {'survey_abbreviation': 'BD', 'survey_name': 'Business Employment Dynamics'},
 {'survey_abbreviation': 'BG',
  'survey_name': 'Collective Bargaining Agreements-State and Local Government'},
 {'survey_abbreviation': 'BP',
  'survey_name': 'Collective Bargaining Agreements-Private Sector'},
 {'survey_abbreviation': 'CC',
  'survey_name': 'Employer Costs for Employee Compensation'},
 {'survey_abbreviation': 'CD',
  'survey_name': 'Nonfatal cases involving days away from work: selected characteristics'},
 {'survey_abbreviation': 'CE',
  'survey_name': 'Employment, Hours, and Earnings from the Current Employment Statistics survey (National)'},
 {'survey_abbreviation': 'CF',
  'survey_name': 'Census of Fatal Occupational Injuries'},
 {'survey_abbreviation': 'CH',
  'survey_name': 'Nonfatal cases involving days away from work: selected characteristics (2003 - 2010)'},
 {'survey_abbreviation': 'CI', 'survey_name': 'Employment Cost Index'},
 {'survey_abbreviation': 'CM',
  'survey_name': 'Employer Costs for Employee Compensation'},
 {'survey_abbreviation': 'CS',
  'survey_name': 'Nonfatal cases involving days away from work: selected characteristics (2011 forward)'},
 {'survey_abbreviation': 'CU',
  'survey_name': 'Consumer Price Index - All Urban Consumers'},
 {'survey_abbreviation': 'CW',
  'survey_name': 'Consumer Price Index - Urban Wage Earners and Clerical Workers'},
 {'survey_abbreviation': 'CX', 'survey_name': 'Consumer Expenditure Survey'},
 {'survey_abbreviation': 'EB', 'survey_name': 'Employee Benefits Survey'},
 {'survey_abbreviation': 'EC', 'survey_name': 'Employment Cost Index'},
 {'survey_abbreviation': 'EE',
  'survey_name': 'National Employment, Hours, and Earnings'},
 {'survey_abbreviation': 'EI', 'survey_name': 'Import/Export Price Indexes'},
 {'survey_abbreviation': 'EN',
  'survey_name': 'Quarterly Census of Employment and Wages'},
 {'survey_abbreviation': 'EP',
  'survey_name': 'Employment Projections by Industry'},
 {'survey_abbreviation': 'EW',
  'survey_name': 'Quarterly Census of Employment and Wages (SIC)'},
 {'survey_abbreviation': 'FI',
  'survey_name': 'Census of Fatal Occupational Injuries (2003 - 2010)'},
 {'survey_abbreviation': 'FM',
  'survey_name': 'Marital and family labor force statistics from the Current Population Survey'},
 {'survey_abbreviation': 'FW',
  'survey_name': 'Census of Fatal Occupational Injuries (2011 forward)'},
 {'survey_abbreviation': 'GG', 'survey_name': 'Green Goods and Services'},
 {'survey_abbreviation': 'GP', 'survey_name': 'Geographic Profile'},
 {'survey_abbreviation': 'HC',
  'survey_name': 'Nonfatal cases involving days away from work: Selected Characteristics (2002)'},
 {'survey_abbreviation': 'HS',
  'survey_name': 'Occupational injuries and illnesses: industry data (pre-1989)'},
 {'survey_abbreviation': 'II',
  'survey_name': 'Occupational injuries and illnesses: industry data'},
 {'survey_abbreviation': 'IN',
  'survey_name': 'International Labor Comparison'},
 {'survey_abbreviation': 'IP', 'survey_name': 'Industry Productivity'},
 {'survey_abbreviation': 'IS',
  'survey_name': 'Occupational injuries and illnesses industry data'},
 {'survey_abbreviation': 'JL',
  'survey_name': 'Job Openings and Labor Turnover Survey'},
 {'survey_abbreviation': 'JT',
  'survey_name': 'Job Openings and Labor Turnover Survey'},
 {'survey_abbreviation': 'LA',
  'survey_name': 'Local Area Unemployment Statistics'},
 {'survey_abbreviation': 'LE',
  'survey_name': 'Weekly and hourly earnings data from the Current Population Survey'},
 {'survey_abbreviation': 'LF',
  'survey_name': 'Labor Force Statistics from the Current Population Survey (SIC)'},
 {'survey_abbreviation': 'LI',
  'survey_name': 'Consumer Price Index - Department Store Inventory Price Index'},
 {'survey_abbreviation': 'LN',
  'survey_name': 'Labor Force Statistics from the Current Population Survey'},
 {'survey_abbreviation': 'LU',
  'survey_name': 'Union affiliation data from the Current Population Survey'},
 {'survey_abbreviation': 'ML', 'survey_name': 'Mass Layoff Statistics'},
 {'survey_abbreviation': 'MP',
  'survey_name': 'Major Sector Multifactor Productivity'},
 {'survey_abbreviation': 'MU',
  'survey_name': 'Consumer Price Index - All Urban Consumers (Old Series)'},
 {'survey_abbreviation': 'MW',
  'survey_name': 'Consumer Price Index - Urban Wage Earners and Clerical Workers (Old Series)'},
 {'survey_abbreviation': 'NB',
  'survey_name': 'National Compensation Survey-Benefits'},
 {'survey_abbreviation': 'NC', 'survey_name': 'National Compensation Survey'},
 {'survey_abbreviation': 'ND',
  'survey_name': 'Producer Price Index Industry Data'},
 {'survey_abbreviation': 'NW', 'survey_name': 'National Compensation Survey'},
 {'survey_abbreviation': 'OE',
  'survey_name': 'Occupational Employment Statistics'},
 {'survey_abbreviation': 'OR', 'survey_name': 'Occupational Requirements'},
 {'survey_abbreviation': 'PC',
  'survey_name': 'Producer Price Index Industry Data'},
 {'survey_abbreviation': 'PD',
  'survey_name': 'Producer Price Index - Discontinued (SIC)'},
 {'survey_abbreviation': 'PF',
  'survey_name': 'Federal Government Productivity Index'},
 {'survey_abbreviation': 'PI', 'survey_name': 'Industry Productivity Index'},
 {'survey_abbreviation': 'PR',
  'survey_name': 'Major Sector Productivity and Costs'},
 {'survey_abbreviation': 'SA',
  'survey_name': 'State and Area Employment, Hours, and Earnings (SIC)'},
 {'survey_abbreviation': 'SH',
  'survey_name': 'Occupational injuries and illnesses: industry data (1989-2001)'},
 {'survey_abbreviation': 'SI',
  'survey_name': 'Occupational injuries and illnesses: industry data (2002)'},
 {'survey_abbreviation': 'SM',
  'survey_name': 'State and Area Employment, Hours, and Earnings'},
 {'survey_abbreviation': 'SU',
  'survey_name': 'Consumer Price Index - Chained Consumer Price Index'},
 {'survey_abbreviation': 'TU', 'survey_name': 'American Time Use'},
 {'survey_abbreviation': 'WD',
  'survey_name': 'Producer Price Index Commodity-Discontinued Series'},
 {'survey_abbreviation': 'WM', 'survey_name': 'Wage Modeling'},
 {'survey_abbreviation': 'WP',
  'survey_name': 'Producer Price Index-Commodities'},
 {'survey_abbreviation': 'WS', 'survey_name': 'Work Stoppage Data'}]

### Functions for working with SQLite

In [33]:
def create_database(db_name):
    """ 
    create an SQLite database
    """
    conn = None
    try:
        conn = db.connect(db_name)
        print(db.version)
    except Error as e:
        print(e)
    finally:
        conn.close()
            
def create_connection(db_name):
    """ 
    create a database connection to the SQLite database
        specified by db_name
    return: Connection object or None
    """
    conn = None
    try:
        conn = db.connect(db_name)
        return conn
    except Error as e:
        print(e)

    return conn


def check_table_exists(tbl_name, db_name): 
    """
    Check if table exists
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    exists = 0
    c.execute("SELECT count(name) FROM sqlite_master WHERE type='table'")
    if c.fetchone()[0] == 0:
        print("No tables in DB.")
    else:
        c.execute("SELECT count(name) FROM sqlite_master WHERE type='table' AND name=" + tbl_name)
        if c.fetchone()[0] == 1:
            exists = 1
            
        else:
            print("Table does not exist")        
    conn.close()
    
    return exists 
    
def create_table(tbl_name, db_name):
    """
    create table
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    tbl_exists = check_table_exists(tbl_name ,db_name)
    if tbl_exists:
        print("Table ", seriesID, " already exists")
    else:
        try: 
            df.to_sql(tbl_name, conn)
            print("Created ", tbl_name, " table.")
        except ValueError as e:
            print(e)
            #print("Table was not added to the DB")
            #c.execute("SELECT name FROM sqlite_master WHERE type='table';")
            #print("Tables already in DB ", c.fetchall())
            #c.execute("PRAGMA table_info(" + seriesID +");")
            #print("Table ", tbl_name, "has columns: ", c.fetchall())        
    conn.close()
    
    
def check_duplicate_data(tbl_name, db_name):
    """
    check if the data to be entered already exists in the table
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    
    df_not_dup_data = pd.DataFrame(columns = list(df.columns))
    df_dup_data = pd.DataFrame(columns = list(df.columns))
    df_inconsistent_data = pd.DataFrame(columns = list(df.columns))
    
    # Check if data already exists in DB
    for i, row in df.iterrows():
        c.execute("SELECT date, value FROM " + seriesID + " WHERE date = ?;", (df.loc[i]["date"],))
        queryOut = c.fetchall()
        if len(queryOut) == 0:
            df_not_dup_data = pd.concat([df_not_dup_data, df[i:i+1]])
        elif queryOut[0][1] == df.loc[i]["value"]:
            df_dup_data = pd.concat([df_dup_data, df[i:i+1]])
            #print(seriesID, " data for ", df.iloc[i]["date"], " already exists with same value as API:", queryOut[0][1])
        elif queryOut[0][1] != df.loc[i]["value"]:
            df_inconsistent_data = pd.concat([df_inconsistent_data, df[i:i+1]])
            #print(seriesID, " ", df.ioc[i]["date"], "DB DATA: ", queryOut[0][1], " DOES NOT MATCH INPUT DATA: ", )
    conn.close()
    
    df_not_dup_data = df_not_dup_data.sort_values(by=['date'])
    
    return df_not_dup_data, df_dup_data, df_inconsistent_data


def add_to_database(df_EntryData, tbl_name, db_name):    
    conn = create_connection(db_name)    
    try:
        df_EntryData.to_sql(seriesID, con=conn, if_exists='append')
        print("Data added to DB: \n", df_EntryData)
    except ValueError as e:
        print(e)
        print("Data was not added to the DB")
    conn.close()
    
def get_max_index(tbl_name, db_name):
    conn = create_connection(db_name)
    c = conn.cursor()
    try:
        c.execute("SELECT MAX(index) FROM " + seriesID)
        max_index = c.fetchone()[0]
    except Error as e:
        print(e)
    conn.close()
    return max_index

In [31]:
print(check_table_exists(seriesID, "MacroData.sqlite3"))

No tables in DB.
0

### Get data from BLS

In [21]:
base_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'  #this will not change
headers = {'Content-type': 'application/json'}  #This will not changed !

# For the key seriesid enter a list of series names you wish to download
# For the key startyear enter the start year inside ""
# For the key endyear enter the end year inside ""

seriesID = "CUUR0000SA0"
parameters = {
    "seriesid":[seriesID], 
    "startyear":"1919", 
    "endyear":"1938",
    "catalog":True, 
    "calculations":False, 
    "annualaverage":False,
    "aspects":False,
    "registrationkey":os.environ['BLS_API_key'] 
 }

data = json.dumps(parameters) # Converts the Python dictionary to JSON

p = requests.post(base_url, data=data, headers=headers)
json_data = json.loads(p.text)
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 270,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'catalog': {'series_title': 'All items in U.S. city average, all urban consumers, not seasonally adjusted',
     'series_id': 'CUUR0000SA0',
     'seasonality': 'Not Seasonally Adjusted',
     'survey_name': 'CPI for All Urban Consumers (CPI-U)',
     'survey_abbreviation': 'CU',
     'measure_data_type': 'All items',
     'area': 'U.S. city average',
     'item': 'All items'},
    'data': [{'year': '1938',
      'period': 'M12',
      'periodName': 'December',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M11',
      'periodName': 'November',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M10',
      'periodName': 'October',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M09',
      'periodName': 'September',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M08',
      'periodName': 'August',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M07',
      'periodName': 'July',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M06',
      'periodName': 'June',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M05',
      'periodName': 'May',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M04',
      'periodName': 'April',
      'value': '14.2',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M03',
      'periodName': 'March',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M02',
      'periodName': 'February',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1938',
      'period': 'M01',
      'periodName': 'January',
      'value': '14.2',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M12',
      'periodName': 'December',
      'value': '14.4',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M11',
      'periodName': 'November',
      'value': '14.5',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M10',
      'periodName': 'October',
      'value': '14.6',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M09',
      'periodName': 'September',
      'value': '14.6',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M08',
      'periodName': 'August',
      'value': '14.5',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M07',
      'periodName': 'July',
      'value': '14.5',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M06',
      'periodName': 'June',
      'value': '14.4',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M05',
      'periodName': 'May',
      'value': '14.4',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M04',
      'periodName': 'April',
      'value': '14.3',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M03',
      'periodName': 'March',
      'value': '14.2',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M02',
      'periodName': 'February',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1937',
      'period': 'M01',
      'periodName': 'January',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M12',
      'periodName': 'December',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M11',
      'periodName': 'November',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M10',
      'periodName': 'October',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M09',
      'periodName': 'September',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M08',
      'periodName': 'August',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M07',
      'periodName': 'July',
      'value': '13.9',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M06',
      'periodName': 'June',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M05',
      'periodName': 'May',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M04',
      'periodName': 'April',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M03',
      'periodName': 'March',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M02',
      'periodName': 'February',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1936',
      'period': 'M01',
      'periodName': 'January',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M12',
      'periodName': 'December',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M11',
      'periodName': 'November',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M10',
      'periodName': 'October',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M09',
      'periodName': 'September',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M08',
      'periodName': 'August',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M07',
      'periodName': 'July',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M06',
      'periodName': 'June',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M05',
      'periodName': 'May',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M04',
      'periodName': 'April',
      'value': '13.8',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M03',
      'periodName': 'March',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M02',
      'periodName': 'February',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1935',
      'period': 'M01',
      'periodName': 'January',
      'value': '13.6',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M12',
      'periodName': 'December',
      'value': '13.4',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M11',
      'periodName': 'November',
      'value': '13.5',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M10',
      'periodName': 'October',
      'value': '13.5',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M09',
      'periodName': 'September',
      'value': '13.6',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M08',
      'periodName': 'August',
      'value': '13.4',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M07',
      'periodName': 'July',
      'value': '13.4',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M06',
      'periodName': 'June',
      'value': '13.4',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M05',
      'periodName': 'May',
      'value': '13.3',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M04',
      'periodName': 'April',
      'value': '13.3',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M03',
      'periodName': 'March',
      'value': '13.3',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M02',
      'periodName': 'February',
      'value': '13.3',
      'footnotes': [{}]},
     {'year': '1934',
      'period': 'M01',
      'periodName': 'January',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M12',
      'periodName': 'December',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M11',
      'periodName': 'November',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M10',
      'periodName': 'October',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M09',
      'periodName': 'September',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M08',
      'periodName': 'August',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M07',
      'periodName': 'July',
      'value': '13.1',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M06',
      'periodName': 'June',
      'value': '12.7',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M05',
      'periodName': 'May',
      'value': '12.6',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M04',
      'periodName': 'April',
      'value': '12.6',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M03',
      'periodName': 'March',
      'value': '12.6',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M02',
      'periodName': 'February',
      'value': '12.7',
      'footnotes': [{}]},
     {'year': '1933',
      'period': 'M01',
      'periodName': 'January',
      'value': '12.9',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M12',
      'periodName': 'December',
      'value': '13.1',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M11',
      'periodName': 'November',
      'value': '13.2',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M10',
      'periodName': 'October',
      'value': '13.3',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M09',
      'periodName': 'September',
      'value': '13.4',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M08',
      'periodName': 'August',
      'value': '13.5',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M07',
      'periodName': 'July',
      'value': '13.6',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M06',
      'periodName': 'June',
      'value': '13.6',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M05',
      'periodName': 'May',
      'value': '13.7',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M04',
      'periodName': 'April',
      'value': '13.9',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M03',
      'periodName': 'March',
      'value': '14.0',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M02',
      'periodName': 'February',
      'value': '14.1',
      'footnotes': [{}]},
     {'year': '1932',
      'period': 'M01',
      'periodName': 'January',
      'value': '14.3',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M12',
      'periodName': 'December',
      'value': '14.6',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M11',
      'periodName': 'November',
      'value': '14.7',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M10',
      'periodName': 'October',
      'value': '14.9',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M09',
      'periodName': 'September',
      'value': '15.0',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M08',
      'periodName': 'August',
      'value': '15.1',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M07',
      'periodName': 'July',
      'value': '15.1',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M06',
      'periodName': 'June',
      'value': '15.1',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M05',
      'periodName': 'May',
      'value': '15.3',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M04',
      'periodName': 'April',
      'value': '15.5',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M03',
      'periodName': 'March',
      'value': '15.6',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M02',
      'periodName': 'February',
      'value': '15.7',
      'footnotes': [{}]},
     {'year': '1931',
      'period': 'M01',
      'periodName': 'January',
      'value': '15.9',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M12',
      'periodName': 'December',
      'value': '16.1',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M11',
      'periodName': 'November',
      'value': '16.4',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M10',
      'periodName': 'October',
      'value': '16.5',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M09',
      'periodName': 'September',
      'value': '16.6',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M08',
      'periodName': 'August',
      'value': '16.5',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M07',
      'periodName': 'July',
      'value': '16.6',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M06',
      'periodName': 'June',
      'value': '16.8',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M05',
      'periodName': 'May',
      'value': '16.9',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M04',
      'periodName': 'April',
      'value': '17.0',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M03',
      'periodName': 'March',
      'value': '16.9',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M02',
      'periodName': 'February',
      'value': '17.0',
      'footnotes': [{}]},
     {'year': '1930',
      'period': 'M01',
      'periodName': 'January',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M12',
      'periodName': 'December',
      'value': '17.2',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M11',
      'periodName': 'November',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M10',
      'periodName': 'October',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M09',
      'periodName': 'September',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M08',
      'periodName': 'August',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M07',
      'periodName': 'July',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M06',
      'periodName': 'June',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M05',
      'periodName': 'May',
      'value': '17.0',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M04',
      'periodName': 'April',
      'value': '16.9',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M03',
      'periodName': 'March',
      'value': '17.0',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M02',
      'periodName': 'February',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1929',
      'period': 'M01',
      'periodName': 'January',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M12',
      'periodName': 'December',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M11',
      'periodName': 'November',
      'value': '17.2',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M10',
      'periodName': 'October',
      'value': '17.2',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M09',
      'periodName': 'September',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M08',
      'periodName': 'August',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M07',
      'periodName': 'July',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M06',
      'periodName': 'June',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M05',
      'periodName': 'May',
      'value': '17.2',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M04',
      'periodName': 'April',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M03',
      'periodName': 'March',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M02',
      'periodName': 'February',
      'value': '17.1',
      'footnotes': [{}]},
     {'year': '1928',
      'period': 'M01',
      'periodName': 'January',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M12',
      'periodName': 'December',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M11',
      'periodName': 'November',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M10',
      'periodName': 'October',
      'value': '17.4',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M09',
      'periodName': 'September',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M08',
      'periodName': 'August',
      'value': '17.2',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M07',
      'periodName': 'July',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M06',
      'periodName': 'June',
      'value': '17.6',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M05',
      'periodName': 'May',
      'value': '17.4',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M04',
      'periodName': 'April',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M03',
      'periodName': 'March',
      'value': '17.3',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M02',
      'periodName': 'February',
      'value': '17.4',
      'footnotes': [{}]},
     {'year': '1927',
      'period': 'M01',
      'periodName': 'January',
      'value': '17.5',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M12',
      'periodName': 'December',
      'value': '17.7',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M11',
      'periodName': 'November',
      'value': '17.7',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M10',
      'periodName': 'October',
      'value': '17.6',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M09',
      'periodName': 'September',
      'value': '17.5',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M08',
      'periodName': 'August',
      'value': '17.4',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M07',
      'periodName': 'July',
      'value': '17.5',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M06',
      'periodName': 'June',
      'value': '17.7',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M05',
      'periodName': 'May',
      'value': '17.8',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M04',
      'periodName': 'April',
      'value': '17.9',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M03',
      'periodName': 'March',
      'value': '17.8',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M02',
      'periodName': 'February',
      'value': '17.9',
      'footnotes': [{}]},
     {'year': '1926',
      'period': 'M01',
      'periodName': 'January',
      'value': '17.9',
      'footnotes': [{}]},
     {'year': '1925',
      'period': 'M12',
      'periodName': 'December',
      'value': '17.9',

### Create Panda Dataframe

In [27]:
if check_table_exists(seriesID, "MacroData.sqlite3") != 0:
    index_start = get_max_index(tbl_name, "MacroData.sqlite3") + 1

df = pd.DataFrame(json_data['Results']['series'][0]['data'])
df['date'] = df['year'] + df['period']
df['date'] = df['date'].str.replace('M', '-')
df['date'] = df['date'].astype('string')
df = df.sort_values(by=['date'], ignore_index=True)
df = df.drop(columns='footnotes')
df['value'] = df['value'].astype(float)
df['description'] = 'Consumer Price Index - All Urban Consumers - Not Seasonally Adjusted'
df

,year,period,periodName,value,date,description
0,1939,M01,January,14.0,1939-01,Consumer Price Index - All Urban Consumers - N...
1,1939,M02,February,13.9,1939-02,Consumer Price Index - All Urban Consumers - N...
2,1939,M03,March,13.9,1939-03,Consumer Price Index - All Urban Consumers - N...
3,1939,M04,April,13.8,1939-04,Consumer Price Index - All Urban Consumers - N...
4,1939,M05,May,13.8,1939-05,Consumer Price Index - All Urban Consumers - N...
...,...,...,...,...,...,...
235,1958,M08,August,28.9,1958-08,Consumer Price Index - All Urban Consumers - N...
236,1958,M09,September,28.9,1958-09,Consumer Price Index - All Urban Consumers - N...
237,1958,M10,October,28.9,1958-10,Consumer Price Index - All Urban Consumers - N...
238,1958,M11,November,29.0,1958-11,Consumer Price Index - All Urban Consumers - N...
239,1958,M12,December,28.9,1958-12,Consumer Price Index - All Urban Consumers - N...

In [28]:
print(df.dtypes)

year            object
period          object
periodName      object
value          float64
date            string
description     object
dtype: object

### Create MacroData DB if it does not exist

In [4]:
create_database(r"MacroData.sqlite3")

2.6.0

### Create table if it does not already exist

In [32]:
create_table(seriesID, 'MacroData.sqlite3')

No tables in DB.

NameError: name 'df' is not defined

### Check if data already exists in Database

In [29]:
df_AddDB, df_dup_data, df_inconsistent_data = check_duplicate_data(seriesID, 'MacroData.sqlite3')
print("Duplicate Data: \n", df_dup_data)
if not df_inconsistent_data.empty:
    print("DATA FROM DATAFRAME DOES INCONSISTENT WITH DATA IN DATABASE: \n", df_inconsistent_data)
else:
    del df_inconsistent_data


df_AddDB

Duplicate Data:
 Empty DataFrame
Columns: [year, period, periodName, value, date, description]
Index: []

,year,period,periodName,value,date,description
0,1939,M01,January,14.0,1939-01,Consumer Price Index - All Urban Consumers - N...
1,1939,M02,February,13.9,1939-02,Consumer Price Index - All Urban Consumers - N...
2,1939,M03,March,13.9,1939-03,Consumer Price Index - All Urban Consumers - N...
3,1939,M04,April,13.8,1939-04,Consumer Price Index - All Urban Consumers - N...
4,1939,M05,May,13.8,1939-05,Consumer Price Index - All Urban Consumers - N...
...,...,...,...,...,...,...
235,1958,M08,August,28.9,1958-08,Consumer Price Index - All Urban Consumers - N...
236,1958,M09,September,28.9,1958-09,Consumer Price Index - All Urban Consumers - N...
237,1958,M10,October,28.9,1958-10,Consumer Price Index - All Urban Consumers - N...
238,1958,M11,November,29.0,1958-11,Consumer Price Index - All Urban Consumers - N...
239,1958,M12,December,28.9,1958-12,Consumer Price Index - All Urban Consumers - N...

### Add data to Database if it does not already exist

In [30]:
add_to_database(df_AddDB, seriesID, 'MacroData.sqlite3')

Data added to DB:
      year period periodName value     date  \
0    1939    M01    January  14.0  1939-01
1    1939    M02   February  13.9  1939-02
2    1939    M03      March  13.9  1939-03
3    1939    M04      April  13.8  1939-04
4    1939    M05        May  13.8  1939-05
..    ...    ...        ...   ...      ...
235  1958    M08     August  28.9  1958-08
236  1958    M09  September  28.9  1958-09
237  1958    M10    October  28.9  1958-10
238  1958    M11   November  29.0  1958-11
239  1958    M12   December  28.9  1958-12

                                           description
0    Consumer Price Index - All Urban Consumers - N...
1    Consumer Price Index - All Urban Consumers - N...
2    Consumer Price Index - All Urban Consumers - N...
3    Consumer Price Index - All Urban Consumers - N...
4    Consumer Price Index - All Urban Consumers - N...
..                                                 ...
235  Consumer Price Index - All Urban Consumers - N...
236  Consumer Price Index - All Urban Consumers - N...
237  Consumer Price Index - All Urban Consumers - N...
238  Consumer Price Index - All Urban Consumers - N...
239  Consumer Price Index - All Urban Consumers - N...

[240 rows x 6 columns]

In [ ]:
#.execute("SELECT date, value FROM " + seriesID + " WHERE date = 1800-01;")
#print(len(c.fetchall()))

In [20]:
conn = db.connect('MacroData.sqlite3')
try:
    df_fromDB = pd.read_sql_query("SELECT * FROM " + seriesID + ";", conn)
except Error as e:
    print(e)
conn.close()
df_fromDB = df_fromDB.set_index("date")
#df_fromDB.drop
df_fromDB

DatabaseError: Execution failed on sql 'SELECT * FROM CUUR0000SA0;': no such table: CUUR0000SA0

In [8]:
#con = db.connect('MacroData.sqlite3')
#c = con.cursor()
#c.execute("DROP TABLE " + seriesID)
#con.commit()
#con.close()

In [27]:
#Get list of tables in DB
#c.execute("SELECT name FROM sqlite_master WHERE type='table';")
#tables = c.fetchall()

No tables in DB.